*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3498db; 
    font-family: Arial, sans-serif;
    /* height: 200vh; */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    background-color: #3498db;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.menu a:hover {
    color: #0a056c;
}

.register a{
    width: 20%;
    text-decoration: none;
    padding: 10px 20px;
    color: #3498db;
    background-color: white;
    border-radius: 25px;
}

.content{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    margin-top: 100px;
}

.left{
    flex: 1;
    padding: 0 20px;
}

.left p{
   
    color: white;
    font-size: x-large;
    padding: 30px 0px;
}

.left a{
    text-decoration: none;
    padding: 10px 20px;
    margin: 30px 0px;
    color: white;
    border: solid white;
    background-color: transparent;
    border-radius: 25px;
}

.right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.image{
    max-width: 100%;
    height: auto;
}


/* Media query for responsiveness */
@media screen and (max-width: 600px) {


    .logo{
        order: 1;
        padding: 0 10px;
    }

    .container{
        order: 2;
    }

    .menu-toggle {
        order: 2;
        display: flex;
        margin-left: auto;
    }
    .menu {
        display: none;
        flex-direction: column;
        background-color: #3498db;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }


    .register{
        margin: 0 10px;
    }

    .content {
        flex-direction: column;
    }

    .left,
    .right {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .left p{
        font-size: 20px;
        line-height: 30px;
    }

    .left a{
        font-size: 15px;
        line-height: 10px;
    }

    .left{
        order: 2;
    }

    .right{
        order: 1;
    }
}
