
.new-page-container{
    background-color: #ffffff;
    text-align: center;
    height: 100vh;
    box-sizing:content-box;
 
    
}
.new-page-container-2{
    padding-top:10%;
}
.new-img img {
    max-width:fit-content; /* Make the image responsive within its container */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image horizontalSly */
}
#sections{
    display: flex;
    justify-content: space-around;
    row-gap: 10px;
    width: 60%;
    margin: auto;
}
.section-items {
    position: relative;
    display: inline-block;
    padding: 10px 12px;
    margin: 0 10px;
    cursor: pointer;
    color: rgb(136, 135, 135);
  }
  
  .section-items::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent; /* Initially transparent */
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s ease; /* Smooth transition effect */
  }
  
  .section-items:hover::after {
    background-color: skyblue; /* Change color on hover */
  }
  .section-items{
    transition: background-color 0.3s ease;
  }
  .section-items:hover{
    color: black;
  }
  
  .line{
    width: 53.34%;
    margin: auto;
    border: 1px solid rgb(207, 204, 204);
  }
 

  /* corousel */
  .carousel-container {
    width: 500px;
    overflow: hidden;
    position: relative;
    left: 33%;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-item {
    min-width: 500px;
}
.carousel-item  img {
    max-width: 80%;
    height: auto;
}
/* Media query for responsiveness */
@media screen and (max-width: 600px) {

    .navbar{
        display: flex;
        justify-content:space-around ;
    }

    .logo-menu{
        justify-content: start;
    }
    .logo{
        order: 2;
        padding: 0 10px;
    }
    .menu-toggle {
        display: flex;
        order: 1;
    }
    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .menu.active {
        display: flex;
    }

    .register{
        margin: 0 10px;
    }

    .content {
        flex-direction: column;
    }
    .left,
    .right {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .left p{
        font-size: 20px;
        line-height: 30px;
    }

    .left a{
        padding: 10px 5px;
    }

    .left{
        order: 2;
    }

    .right{
        order: 1;
    }
}