
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #ffffff;
    max-width: 100%;
   overflow-x: hidden;
   margin: 0;

}
.footer {
    max-width: 100%;
    background-color: rgb(237 246 255);
    color: rgb(169 179 189);
    text-align: center;
    padding: 20px;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding-bottom: 45px;
    margin-bottom: 0px;
}
/* cut image styling */
.two-screenshots{
    position: relative;
    top: 208px;
    left: 31px;
}
.cut-image_one{
    position: absolute;
    top: 61px;
    width: 258px;
}
.cut-image_two{
    position: relative;
    left: 9%;
    width: 340px;
}



/* styles for the background SVG */
.custom-shape-divider-top-1697182267 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1697182267 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 473px;
    transform: rotateY(180deg);
    overflow-x: hidden;
}

.custom-shape-divider-top-1697182267 .shape-fill {
    fill:#86c4fe;
}
/* styles for the background SVG2 */

.paragraph{
    display: inline-block;
    margin-left: 6px;
    
}
.paragraph h2{
    margin-left: 34.5rem;
    color: rgb(135 143 149);
    font-size: 1.4rem;
    margin-bottom: 3px;
}

        /* button css */
        .heading-buttons-sub{
            margin-left: 49px;
            margin-bottom: 41px;
        }
        
        .store-button {
            
            height: 67px;
            display: inline-block;
            text-decoration: none;
            color: #fff;
            background-color: #0077B5;
            border-radius: 5px;
            padding: 10px 20px;
            margin-right: 20px;
            text-align: center;
        }
        
        .button-container{
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            gap: 24px;

            transform: translateX(41%);
            padding-top: 11px;
        }
        
        /* Style for the Play Store button */
        .market-btn {
            display: inline-block;
            padding: 0.3125rem 0.875rem;
            padding-left: 2.8125rem;
            -webkit-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
            transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
            border-radius: 5px;
            background-position: center left 0.75rem;
            background-color: #000000;
            /* background-size: 1.5rem 1.5rem; */
            /* background-repeat: no-repeat; */
            text-decoration: none;
            
        }
        .google-btn{
    width: 26px; /* Adjust the size as needed */
    height: 26px; /* Adjust the size as needed */
    image-rendering: pixelated;
        }
        .playLogo{
            display: flex;
            margin-left: -38px;
        }
        .market-button-title{
            margin-left: 5px;
            margin-top: 2px;
        }
        .market-btn .market-button-title {
            display: block;
            color: #ffff;
            font-size: 1rem;
        }
        .market-btn .market-button-subtitle {
            display: block;
            color: #ffffff;
            font-size: 0.5rem;
            letter-spacing: 0.5px;
            margin-bottom: -3px;
            margin-top: 2px;
            margin-left: -5px;
        }
        #Go{
            font-weight: bolder;
        }
        #Pl{
            font-weight: 100;
        }
        /* Style for the App Store button */
        .apple-buttn {
            display: inline-block;
            padding: 0.3125rem 0.875rem;
            padding-left: 2.8125rem;
            -webkit-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
            transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
            border-radius: 5px;
            background-position: center left 0.75rem;
            background-color: #000000;
            text-decoration: none;
            padding-bottom: 6px;
            
        }
        .ctowud{
            font-size: 31px;
            margin-left: -27px;
          }
          .apple-button-title{
            display: block;
            color: #ffff;
            font-size: 1.1rem;
            margin-bottom: 3px;
          }
          .apple-button-subtitle{
            display: block;
            color: #ffffff;
            font-size: 0.5rem;
            letter-spacing: 0.5px;
            margin-bottom: 2px;
            margin-top: 3px;
            margin-left: 2px;
          }
      .D-A{
        display: inline-block;
        margin-left: 2px;
      }
     
        
        
.crugo-logo{
    color: rgb(135 143 149);
    margin-top: 50px;
  
}    
.p&t{
    font-weight: bold;
    margin-top: 10px;
}
.terms-C{
    padding: 10px;
}
.about-us{
    margin-top: 55px;
}
.about{
   margin-top: 15px;
    margin-left: 91px;
    list-style-type: none;
}
.about li{
    position:relative;

}
.about li::before{
    position: absolute;
    content: "\00b7";
    font-size: 70px;
    height: 20px;
    top: -167%;
    left: -20%;
}

.A{
    font-weight: bolder;
}
.L2{
    margin-top: 89px;
}
.lorem{
    list-style-type: none;
}
.lorem  li{
    position: relative;


}
.lorem li::before{
    position: absolute;
    content: "\00b7";
    font-size: 70px;
    height: 20px;
    top: -167%;
    left: -20%;
}
.Find-us-in {
    
    align-items: center; /* Center content vertically */
    margin-top: 55px;
    font-weight: bolder;

}
.S{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-right: 30px;
}
.Up{
    font-size: 16px;
    font-weight: 400;
    padding-right: 10px;
}
.S p{
    margin-left: 89px;
    font-size: 12px;

}
.K{
    padding: 21px;
}
.down{
    font-size: 16px;
    font-weight: 400;
    margin-right: 9px;
}
#T{
    margin-right: 75px;
    padding: 20px;
}
.D{
    font-size: 15px;
    font-weight: 400;
    margin-right: 5px;
}
#Q{
    margin-right: 70px;
}

