*{
 box-sizing: border-box;
}
.card-container{
   
    width: 45%;
   
}


body {
/* 
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
   
    justify-content: center; */
  /* Center vertically */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    place-items: center; 
    background-color: rgb(244 249 253);
    height: 96vh;
 
   margin-top: 7px;

}
.heading{
    color: rgb(101 102 107)
}
.left{
    position: relative;
    right: 2%;
}
.right{
    position: relative;
    left: 2%;
}
.heading{
    margin-top: 80px;
}
.profile-name{
    font-size: 1rem;
    line-height: 0.8;
    letter-spacing: 0.6px;
    opacity: 0.8;
    margin:0px;
    color: rgb(108 107 112);
    

}
.profile-position{
    /* margin: 0; */
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.4px;
   opacity: 0.5;
   margin: 0px;
}
.profile-body{
    opacity: 0.5;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 0.7rem;
    line-height: 1.5rem;
    text-align: left;

}
/* .profile-body:after{
    content: "";
  display: inline-block;
  width: 100%;
} */
.profile-image{
    border-radius: 50%;
    position: relative;
    top: 10%;
   
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    justify-items: center;
    margin: 16px;
    

  }
  .profile-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      width: 300px;
      background-color: white;
      padding: 1em;
    margin-bottom: 30px;

    
  }
.name-position{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
   margin-bottom: 20px;
}


  @media only screen and (max-width: 600px) {

        .box {
            grid-template-columns: 1fr;
        }

        .profile-card{
            width: 70%;
        }
    }
    @media (max-width: 1130px){
        .card-container{
            width: 80%;
        }
    }
  @media (min-width: 768px) {
      .profile-card {
        flex-direction: row;
      }
      
      .profile-main{
        text-align: left;
       
  }
}


  
