*{
 box-sizing: border-box;
}

.heading{
  color: rgb(101 102 107);
  
  display: flex;
  justify-content: center;
  margin-top: 98px;
  margin-bottom: 125px;
}
.heading-text{
margin-right: 30px;
}
.column-1{
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
}
.column-2{
     
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
}
.column-3{
     
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
}
.column-4{
     
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
}
.column-1{
  float: left;
  width: 102%;
  padding: 10px;
}
.column-2{
  float: left;
  width: 102%;
  padding: 10px;
}
.column-3{
  float: left;
  width: 102%;
  padding: 10px;
}
.column-4{
  float: left;
  width: 102%;
  padding: 10px;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 21px;
}
.box{
  display: grid;
  grid-template-rows: 1fr;
  justify-content: space-around;
  justify-items: center;
}
.profile-name{
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.6px;
  opacity: 0.8;
  margin: 0px;
  color: rgb(108 107 112);
}
.profile-position{
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  opacity: 0.5;
  margin: 0px;
}
.profile-image{
  border-radius: 50%;
    width: 17%;
    margin-left: 11px;
    margin-top: 7px;
    position: relative;
}
.name-position{
  display: flex;
  flex-direction: column;
  margin-left: 68px;
  margin-top: -45px;
}
.profile-text{
  opacity: 0.5;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 0.7rem;
    line-height: 1.5rem;
    text-align: justify;
    width: 247px;
    margin-left: 15px;
    margin-top: 29px;
}
@media only screen and (min-width: 600px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .row {
    grid-template-columns: 1fr 1fr;

  }
  .heading {
    margin-top: 110px;
    margin-bottom: 100px;
  }
  
}
@media only screen and (max-width: 550px) {
  .row {
    grid-template-columns: 1fr;
  }
}
